In [1]:
import mysql.connector
import getpass
import pandas as pd

In [16]:
password = getpass.getpass()

In [17]:
cnx = mysql.connector.connect(host='localhost', port = 3306, database = "ih_gambling", user = "root", password = password)

In [ ]:
cnx.is_connected() # to check the connection

True

In [19]:
cursor = cnx.cursor()

In [ ]:
cursor.execute("SHOW TABLES") #to see what tables are in schema
print(cursor.fetchall())

In [33]:
query = ("SELECT * FROM account")
cursor.execute(query)
results = cursor.fetchall()
columns = ["AccountNo", "CustId", "AccountLocation", "CurrencyCode", "DailyDepositLimit", "StakeScale", "SourceProd"]
account_df = pd.DataFrame(results, columns=columns)
account_df = account_df.drop(columns=["AccountLocation"])
account_df #10 accounts

    AccountNo   CustId CurrencyCode  DailyDepositLimit  StakeScale SourceProd
0  00357DG     3531845          GBP                  0        1.00         GM
1  00497XG     4188499          GBP                  0        1.00         SB
2  00692VS     4704925          USD                  0        2.00         SB
3  00775SM     2815836          USD                  0        1.00         SB
4  00C017       889782          GBP               1500        0.41         XX
5  00J381      1191874          GBP                500        8.00         XX
6  01148BP     1569944          GBP                  0        8.00         XX
7  01152SJ     1965214          USD                  0        1.00         PO
8  01196ZZ     3042166          EUR                  0        8.00         SB
9  01284UW     5694730          GBP                  0        1.00         SB

In [34]:
query = ("SELECT * FROM customer")
cursor.execute(query)
customer = cursor.fetchall()
columns = ["CustId", "AccountLocation", "Title", "FirstName", "LastName", "CreateDate", "CountryCode", "Language", "Status", "DateOfBirth", "Contact", "CustomerGroup"]
customer_df = pd.DataFrame(customer, columns=columns)
customer_df #10 accounts

,CustId,AccountLocation,Title,FirstName,LastName,CreateDate,CountryCode,Language,Status,DateOfBirth,Contact,CustomerGroup
0,4188499,GIB,Mr,Elvis,Presley,01/11/2011,US,en,A,18/10/1948,Y,Bronze
1,1191874,GIB,Mr,Jim,Morrison,19/09/2008,US,en,A,27/07/1967,Y,Gold
2,3042166,GIB,Mr,Keith,Moon,11/01/2011,UK,en,A,26/07/1970,Y,Gold
3,5694730,GIB,Mr,James,Hendrix,10/10/2012,US,en,A,05/04/1976,N,Bronze
4,4704925,GIB,Mr,Marc,Bolan,26/03/2012,UK,en,A,11/03/1982,Y,Bronze
5,1569944,GIB,Miss,Janice,Joplin,09/04/2009,US,en,A,22/08/1954,Y,Gold
6,3531845,GIB,Mr,Bon,Scott,02/04/2011,AU,en,A,22/10/1975,N,Silver
7,2815836,GIB,Mr,Buddy,Holly,17/10/2010,US,en,A,13/01/1964,Y,Silver
8,889782,GIB,Mr,Bob,Marley,16/01/2008,UK,en,A,18/04/1964,Y,Silver
9,1965214,GIB,Mr,Sidney,Vicious,18/12/2009,UK,en,A,12/08/1976,N,Bronze

In [35]:
customer_df = pd.merge(left=account_df, right=customer_df, left_on="CustId", right_on="CustId")
customer_df

,AccountNo,CustId,CurrencyCode,DailyDepositLimit,StakeScale,SourceProd,AccountLocation,Title,FirstName,LastName,CreateDate,CountryCode,Language,Status,DateOfBirth,Contact,CustomerGroup
0,00357DG,3531845,GBP,0,1.00,GM,GIB,Mr,Bon,Scott,02/04/2011,AU,en,A,22/10/1975,N,Silver
1,00497XG,4188499,GBP,0,1.00,SB,GIB,Mr,Elvis,Presley,01/11/2011,US,en,A,18/10/1948,Y,Bronze
2,00692VS,4704925,USD,0,2.00,SB,GIB,Mr,Marc,Bolan,26/03/2012,UK,en,A,11/03/1982,Y,Bronze
3,00775SM,2815836,USD,0,1.00,SB,GIB,Mr,Buddy,Holly,17/10/2010,US,en,A,13/01/1964,Y,Silver
4,00C017,889782,GBP,1500,0.41,XX,GIB,Mr,Bob,Marley,16/01/2008,UK,en,A,18/04/1964,Y,Silver
5,00J381,1191874,GBP,500,8.00,XX,GIB,Mr,Jim,Morrison,19/09/2008,US,en,A,27/07/1967,Y,Gold
6,01148BP,1569944,GBP,0,8.00,XX,GIB,Miss,Janice,Joplin,09/04/2009,US,en,A,22/08/1954,Y,Gold
7,01152SJ,1965214,USD,0,1.00,PO,GIB,Mr,Sidney,Vicious,18/12/2009,UK,en,A,12/08/1976,N,Bronze
8,01196ZZ,3042166,EUR,0,8.00,SB,GIB,Mr,Keith,Moon,11/01/2011,UK,en,A,26/07/1970,Y,Gold
9,01284UW,5694730,GBP,0,1.00,SB,GIB,Mr,James,Hendrix,10/10/2012,US,en,A,05/04/1976,N,Bronze

In [ ]:
query = ("SELECT * FROM product")
cursor.execute(query)
columns = [desc[0] for desc in cursor.description] #fetches column names from the cursor
product = cursor.fetchall()

product_df = pd.DataFrame(product, columns=columns)
product_df #46 products

,CLASSID,CATEGORYID,product,sub_product,description,bet_or_play
0,22522_SALE,22522,Vegas,Vegas Bonus,Vegas,0
1,BETC_RET,0,Sportsbook,Various,Bet Corrections,0
2,BONS_GAM,0,Games,Games Bonus,Games Bonus,0
3,BONS_SPRB,0,Sportsbook,SB Bonus,SB Bonus,0
4,BONS_VEGA,0,Vegas,Vegas Bonus,Vegas Bonus,0
5,CSH_PPAL,0,Adjustments,Banking Correction,PayPal,0
6,GWIL_SPRT,0,Sportsbook,Goodwill Payments,Goodwill Payments,0
7,,0,Sportsbook,Various,Manual Bets (Various),1
8,1,5,Sportsbook,Football,UK Football,1
9,10,16,Sportsbook,Other Sports,Boxing,1
10,15,2,Sportsbook,Baseball,Baseball,1
11,182,0,Games,FReactor,FReactor,1
12,19,1,Sportsbook,American Football,American Football,1
13,2,9,Sportsbook,Horse Racing,Horse Racing - Live,1
14,22508_RTNS,22508,Bingo,Bingo VF,Bingo VF Returns,1
15,22508_STKE,22508,Bingo,Bingo VF,Bingo VF Stakes,1
16,22512_XFER,22512,Vegas,Vegas,Vegas Transfers,1
17,22527_PRCH,22527,Poker,Poker Playtech CashIn,Poker Playtech,1
18,22527_SALE,22527,Poker,Poker Playtech CashOut,Poker Playtech,1
19,22528_PRCH,22528,Casino,Casino Playtech CashIn,Casino Playtech,1
20,22528_SALE,22528,Casino,Casino Playtech CashOut,Casino Playtech,1
21,273,3,Sportsbook,Basketball,European Basketball,1
22,274,5,Sportsbook,Football,Other League Football,1
23,275,5,Sportsbook,Football,UEFA Club Competitions,1
24,3,8,Sportsbook,Greyhounds,Greyhounds - Live,1
25,323,9,Sportsbook,Horse Racing,Horse Racing - Specials,1
26,325,13,Sportsbook,Rugby League,Rugby League,1
27,36,5,Sportsbook,Football,International Football,1
28,38,9,Sportsbook,Horse Racing,Horse Racing - Tote Pools,1
29,385,6,Sportsbook,Golf,Golf Specials,1
30,40,6,Sportsbook,Golf,Mens Golf,1
31,42,4,Sportsbook,Cricket,International Cricket,1
32,424,17,Sportsbook,Tennis,Challenger Tennis,1
33,434,0,Games,Games tbc,Games tbc,1
34,45,17,Sportsbook,Tennis,Grand Slam Tennis,1
35,452,0,Games,Games tbc,Games tbc,1
36,453,0,Games,Games tbc,Games tbc,1
37,46,5,Sportsbook,Football,European Major Leagues,1
38,5,11,Sportsbook,Motor Racing,Formula 1,1
39,579,0,Games,Games tbc,Games tbc,1
40,601,0,Games,Games tbc,Games tbc,1
41,612,0,Games,Games tbc,Games tbc,1
42,613,0,Games,Games tbc,Games tbc,1
43,616,0,Games,Games tbc,Games tbc,1
44,635,0,Games,Games tbc,Games tbc,1
45,638,0,Games,Games tbc,Games tbc,1

In [49]:
query = ("SELECT * FROM betting")
cursor.execute(query)
columns = [desc[0] for desc in cursor.description] #fetches column names from the cursor

betting = cursor.fetchall() 

betting_df = pd.DataFrame(betting, columns=columns)
betting_df = betting_df.drop(columns=["MyUnknownColumn", "MyUnknownColumn_[0]", "MyUnknownColumn_[1]", "MyUnknownColumn_[2]", "AccountNo_[1]", "Product_[0]"])
# what is with Bet_Amt_[0]?
betting_df #630 rows

,AccountNo,BetDate,ClassId,CategoryId,Source,BetCount,Bet_Amt,Win_Amt,Product,AccountNo_[0],Bet_Amt_[0],Vegas,Sportsbook,Games,Casino,Poker,Bingo,#N/A,Adjustments
0,01196ZZ,24/11/2012,22512_XFER,22512,I,189,29364.0,28947.00,Vegas,01196ZZ,29364.0,"89,861","42,758",-,"1,262",-,-,-,-
1,00357DG,27/11/2012,22512_XFER,22512,I,1415,19835.0,18639.15,Vegas,00357DG,19835.0,"191,805",100,"16,900",20,-,50,-,295
2,00357DG,24/11/2012,22512_XFER,22512,I,2026,19280.8,17904.50,Vegas,00357DG,19280.8,-,"152,613",-,-,-,-,-,-
3,01196ZZ,19/12/2012,22512_XFER,22512,I,151,17301.0,16956.00,Vegas,01196ZZ,17301.0,"7,030","290,958",-,-,-,-,500,-
4,01284UW,21/10/2012,46,5,I,25,16850.0,3319.11,Sportsbook,01284UW,16850.0,-,-,"25,785",-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,00C017,04/12/2012,22527_PRCH,22527,I,1,150.0,0.00,Poker,01152SJ,0.0,,,,,,,,
626,00C017,12/12/2012,22527_PRCH,22527,I,2,150.0,0.00,Poker,01196ZZ,0.0,,,,,,,,
627,00C017,23/12/2012,22527_PRCH,22527,I,1,150.0,0.00,Poker,01196ZZ,0.0,,,,,,,,
628,00J381,02/09/2012,323,9,M,1,150.0,0.00,Sportsbook,01284UW,0.0,,,,,,,,
629,00J381,03/09/2012,323,9,M,1,150.0,0.00,Sportsbook,01148BP,-300.0,,,,,,,,

In [55]:
#merging
merged_df_1 = pd.merge(left=betting_df, right=customer_df, left_on="AccountNo", right_on="AccountNo", how="left")
merged_df = pd.merge(left=merged_df_1, right=product_df, left_on="ClassId", right_on="CLASSID", how="left")
merged_df.to_csv("merged_df.csv")

In [7]:
#analysis ideas
# Customer Behavior & Segmentation
#Top Customers by Bet Amount (Bet_Amt): Who are the “high rollers”?
#Behavior by CustomerGroup (Gold, Silver, Bronze): Do Gold customers actually bet more?
#Analysis by Age Groups (derivable from DateOfBirth): Who bets more – younger or older users
# 
#Profitability Analysis
#house Profit = Bet_Amt - Win_Amt
#Who loses the most?
#Which products are the most profitable?
#Filter customers with negative vs. positive winnings – Who are the heavy players that often lose?

df = pd.read_csv("merged_df.csv")

# dropping further columns:
# col unnamed: 0 is an index that we dont need further in the analysis. 
# col product, classid and categoryid were doubled 
# col Status is always an A
# col accountloaction is always GIB
df = df.drop(columns=["Unnamed: 0", "product", "Status", "CLASSID", "CATEGORYID", 'Bet_Amt_[0]',
       'Vegas', 'Sportsbook', 'Games', 'Casino', 'Poker', 'Bingo', '#N/A']) 

#try to find out why 2 columns for account number
df["AccountNo match?"] = df["AccountNo"] == df["AccountNo_[0]"]
df.columns

#convert the currency values all to EUR
def convert_to_eur_bet(row):
    if row["CurrencyCode"] == "EUR":
        return row["Bet_Amt"] * 1.00
    elif row["CurrencyCode"] == "USD":
        return row["Bet_Amt"] * 0.93
    elif row["CurrencyCode"] == "GBP":
        return row["Bet_Amt"] * 1.17
    else:
        return None
    
df["Bet_Amt_EUR"] = df.apply(convert_to_eur_bet, axis =1)
df

def convert_to_eur_win(row):
    if row["CurrencyCode"] == "EUR":
        return row["Win_Amt"] * 1.00
    elif row["CurrencyCode"] == "USD":
        return row["Win_Amt"] * 0.93
    elif row["CurrencyCode"] == "GBP":
        return row["Win_Amt"] * 1.17
    else:
        return None
    
df["Win_Amt_EUR"] = df.apply(convert_to_eur_win, axis =1)

#create a col for full name
df["Full Name"] = df["FirstName"] + " " + df["LastName"]
df["Won the bet?"] = df["Win_Amt_EUR"] != 0
df

#df[df["bet_or_play"] == 0] only 1 row with value of 0 >> adjustments?

,AccountNo,BetDate,ClassId,CategoryId,Source,BetCount,Bet_Amt,Win_Amt,Product,AccountNo_[0],...,Contact,CustomerGroup,sub_product,description,bet_or_play,AccountNo match?,Bet_Amt_EUR,Win_Amt_EUR,Full Name,Won the bet?
0,01196ZZ,24/11/2012,22512_XFER,22512,I,189,29364.0,28947.00,Vegas,01196ZZ,...,Y,Gold,Vegas,Vegas Transfers,1,True,29364.000,28947.0000,Keith Moon,True
1,00357DG,27/11/2012,22512_XFER,22512,I,1415,19835.0,18639.15,Vegas,00357DG,...,N,Silver,Vegas,Vegas Transfers,1,True,23206.950,21807.8055,Bon Scott,True
2,00357DG,24/11/2012,22512_XFER,22512,I,2026,19280.8,17904.50,Vegas,00357DG,...,N,Silver,Vegas,Vegas Transfers,1,True,22558.536,20948.2650,Bon Scott,True
3,01196ZZ,19/12/2012,22512_XFER,22512,I,151,17301.0,16956.00,Vegas,01196ZZ,...,Y,Gold,Vegas,Vegas Transfers,1,True,17301.000,16956.0000,Keith Moon,True
4,01284UW,21/10/2012,46,5,I,25,16850.0,3319.11,Sportsbook,01284UW,...,N,Bronze,Football,European Major Leagues,1,True,19714.500,3883.3587,James Hendrix,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,00C017,04/12/2012,22527_PRCH,22527,I,1,150.0,0.00,Poker,01152SJ,...,Y,Silver,Poker Playtech CashIn,Poker Playtech,1,False,175.500,0.0000,Bob Marley,False
626,00C017,12/12/2012,22527_PRCH,22527,I,2,150.0,0.00,Poker,01196ZZ,...,Y,Silver,Poker Playtech CashIn,Poker Playtech,1,False,175.500,0.0000,Bob Marley,False
627,00C017,23/12/2012,22527_PRCH,22527,I,1,150.0,0.00,Poker,01196ZZ,...,Y,Silver,Poker Playtech CashIn,Poker Playtech,1,False,175.500,0.0000,Bob Marley,False
628,00J381,02/09/2012,323,9,M,1,150.0,0.00,Sportsbook,01284UW,...,Y,Gold,Horse Racing,Horse Racing - Specials,1,False,175.500,0.0000,Jim Morrison,False
629,00J381,03/09/2012,323,9,M,1,150.0,0.00,Sportsbook,01148BP,...,Y,Gold,Horse Racing,Horse Racing - Specials,1,False,175.500,0.0000,Jim Morrison,False

In [42]:
df.to_excel("merged_df.xlsx", index=False)